 @media (max-width: 480px) 
{
.box {
    top: 125px;
    margin-right: 4px;
    height: 38rem;
    width: 20rem;
  }

  #logoImageAptech {
    top: 75px;
    right: 72px;
    height: 108px;
    width: 232px;
  }
  #loginKiHeading {
    font-size: x-large;
    top: 122px;
    right: 10px;
    left: 10px;
  }
  #greyline {
    right: -72px;
    top: 53px;
    position: absolute;
  }
  .formInput {
    top: 14rem;
    right: 40px;
  }
  #emailinput {
    width: 400px;
  }
  #youremailline {
    right: 148px;
  }
  .formpasswordinput {
    top: 20rem;
    right: 40px;
  }

  #loginBtn {
    left: 110px;
    top: 28rem;
  }
  #fPassword {
    display: none;
    top: -35px;
    right: 10px;
    position: absolute;
  }

  #stuportalhead {
    display: none;
  }
  #stuportalheadResponsive {
    display: block;
    top: 70px;
    font-size: x-large;
    position: absolute;
    right: 86px;
  }
  #fPasswordResponsive {
    display: block;
    position: absolute;
    top: 32rem;
    right: 15px;
  }
} 


 @media screen and (min-width: 768px) and (max-width: 1024px)  
{

   
    .box
    {
        top:253px;
        margin-right: 4px;
        height: 56rem;
        width: 50rem;
    }

    #logoImageAptech
    {
        top:300px;
        right: 310px;
        height: 180px;
        width: 420px;
    }
    #loginKiHeading
    {
        font-size: x-large;
        top:260px;
        right: 10px;
        left: 10px;
    }
    #greyline
    {
        right:-72px;
        top:53px;
        position: absolute;
    }
    .formInput
    {
        top:14rem;
        right: 40px;
    }
     #emailinput
    {
        top:150px;
        position: absolute;
        width: 430px;

    }
    #youremailline
    {
      right: 350px;
      top:185px
    }
    .formpasswordinput
    {
        top:20rem;
        right: 40px;
    }

    #loginBtn
    {
        left: 340px;
        top:36rem;
    }
    #fPassword
    {
        display: none;
        top:-35px;
        right: 10px;
        position: absolute;
    }
   
    #stuportalhead
    {
        display: none;
    }
    #stuportalheadResponsive
    {
        display: block;
        top:200px;
        font-size: x-large;
        position: absolute;
        right: 322px;
    }
    #fPasswordResponsive
    {
        display: block;
        position: absolute;   
        top:42rem;
        right: 168px;
    }
    .line
    {
       position: absolute;
       left: 24rem;
       top: 16.5rem;   
    }

#yourPasswordinput {
    position: absolute;
    width: 430px;
    height: 38px;
    border: 1px solid gray;
    border-radius: 3px;
    top: 155px;
}
#yourpasswordine {
    position: absolute;
    top: 198px;
    left: 10.2rem;
    color: #f7b205;
}

}